# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in external disks
.Spotlight-V100
.Trashes

# VS Code
.vscode/

# Environment files
.env

# Docker/n8n
n8n_data
node_modules